@font-face {
    font-family: "Roboto Bold";
    src: url("../../../font/font-roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../../../font/font-roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Monserat Bold";
    src: url("../../../font/font-mon/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Monserat Regular";
    src: url("../../../font/font-mon/Montserrat-Regular.ttf");
}